# Normal rules (sorted)
#
.*
/oe-logs
/oe-workdir
compile_commands.json
singletask.lock
#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore
!.clang-format
!.clang-format-ignore

# cscope files
*cscope.files
*cscope.in.out
*cscope.out
*cscope.po.out

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

#target
build_*

# python compiled bytecode
*.pyc

# autotool intermediate file
*Makefile.am
*Makefile.in
*build-aux*
*.m4
*configure
*autom4te.cache*
*config.h.in*

# image files
*.bmp
*.raw
*.nv12
*.p010
*_raw.txt
*_nv12.txt
*_p010.txt
